.meme-card {
  display: center;
}

.center {
  margin: auto;
  line-height: 3;
  display: center;
  height: 400px;
  align-items: justify;
}

h1 {
  text-align: center;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  max-width: 400px;
}

.profile {
    text-align: right;
}

.form-padding {
    padding: 25px 50px 75px 50px;
}

.user-meme-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.genres-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#errorBox {
  display: none;
  text-align: center;
}


