/* .meme-list {
    display: inline;
    justify-content: space-between;
    flex-wrap: wrap;
} */

.meme-card {
  display: center;
}

.center {
  margin: auto;
  border: 5px solid #232320;
  display: flex;
  height: 400px;
  align-items: justify;
}

h1 {
  text-align: center;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  max-width: 400px;
}

.profile {
    text-align: right;
}

.form-padding {
    padding: 25px 50px 75px 50px;
}