.meme-card {
  display: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 50%;
}

h1 {
  text-align: center;
}

.img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  max-width: 400px;
  min-width: 200px;
}

.profile {
    text-align: right;
}

.form-padding {
    padding: 25px 50px 75px 50px;
}

.user-meme-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.genres-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#errorBox {
  display: none;
  text-align: center;
}

.parent {
  margin: 2%;
  width: 50%;
  height: auto;
}

.text-container {
  width: 100%;
  height: 100%;
}

.text {
  overflow: visible;
   text-overflow: ellipsis;
   display: -webkit-box;    
   max-height: 32px;    
   -webkit-box-orient: vertical;
}

form {
  margin-left: 10px
}